<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></title>
</head>
<style>
    body{
        background: #ddd;
    }
    h2 {
        text-align: center;
    }
    .mianBox{
        width: 500px;
        margin: 0 auto;
        padding-top: 100px;
    }
    .inputbox{
        width: 100%;
        padding: 10px 0px; 
        margin-bottom: 10px;
    }
    .btn{
        height: 50px;
        width: 100%;
    }
</style>
<body>
    <div class="mianBox">
        <h2>用户注册入口</h2>
        <form>
            <input type='text' name='username' placeholder='用户名' class="inputbox"/> 
            <br />
            <input type='password' name='password' placeholder='密码' class="inputbox"/>
            <br />
            <input type='password' name='password' placeholder='重复密码' class="inputbox"/>
            <br />
            <button class="btn">注册</button>
        </form>
    </div>
</body>
</html>